:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  width: 100vw;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(-45deg, #ee765288, #e73c7e7b, #23a5d58b, #23d5ab8a, #23a5d583,#e73c7e7e, #ee765287);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0%;
	}
	50% {
		background-position: 100%;
	}
	100% {
		background-position: 0%;
	}
}

nav {
  background: linear-gradient(
    270deg,
    rgba(113, 113, 226, 0.344) 1%,
    rgba(79, 79, 161, 0.429) 45%,
    rgba(129, 55, 199, 0.405) 100%
  );
}

#root {
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* CUSTOM CSS */

.logo {
  background-color: rgb(241, 242, 244);
  transition: all 0.3s ease-in-out;
}

.logo:hover {
  /* transform: scale(1.05); */
  background-color: rgb(241, 242, 244, 0.5);
}

.board-card {
  width: 18rem;
  background-size: cover;
  background-position: 100%;
  height: 10rem;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 12px;
  position: relative;
  box-shadow: 10px 10px 20px 5px rgba(51, 51, 51, 0.399);
  transition: all 0.3s;
  background-image: linear-gradient(90deg, #74ebd586 0%, #9face683 100%);
}

.board-card-desc {
  font-size: 0.8rem;
  font-weight: normal;
}

.board-card:hover {
  position: relative;
  transform: scale(1.05);
}

#board-card-star {
  position: absolute;
  right: 15px;
  bottom: 15px;
  font-size: 1rem;
}

.List {
  width: 275px;
  background: rgb(241, 242, 244, 0.8);
}

.board-page {
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: scroll;
  background-position: 100%;
  height: calc(100vh - 80px);
}

.summary {
  transition: all 0.2s;
  opacity: 0.6;
}

.summary:hover {
  transform: translateX(2px);
  cursor: pointer;
  opacity: 1;
}
.board-card .summary {
  opacity: 1;
}
.board-card .summary:hover {
  transform: unset;
}

summary.summary::-webkit-details-marker,
summary.summary::marker {
  color: transparent;
  display: none;
}

.list-card-hover:hover {
  cursor: pointer;
  scale: 0.98;
}

.progress-bar {
  background-color: rgb(51, 68, 98);
}

/* error component */

.error-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f8d7da;
  padding: 20px;
  border-radius: 4px;
  height: calc(100vh - 80px);
}

.errorIcon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #721c24;
  margin-bottom: 10px;
}

.errorMessage {
  color: #721c24;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
